[submodule "samples/BadgerOS"]
	path = samples/BadgerOS
	url = git@github.com:StartForKiller/BadgerOS.git
[submodule "samples/riscv-tests/riscv-tests"]
	path = samples/riscv-tests/riscv-tests
	url = git@github.com:StartForKiller/riscv-tests.git
